<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Predict</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark sticky-top">
        <a class="navbar-brand" href="#"><img width="200" src="../static/img/image.png"/></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
          <div class="d-flex">
            <img
              width="55"
              src="../static/img/Logo-DH-Cong-Nghe-Thong-Tin-UIT.png"
            />
            <img
              width="46"
              class="mx-3"
              src="../static/img/Logo-Khoa-HTTT.png"
            />
            <div class="school-name">
              University of Information Technology <br />
              Faculty of Information Systems
            </div>
          </div>
        </div>
      </nav>
    <div class="container-fluid">
      <div class="row">
        <!-- Section 1 - Left Column -->
         
        <div
          class="col-md-4 section section-1 d-flex flex-column justify-content-center"
        >
        <h2>Result</h2>
        <img src="static/data/prediction_chart.png" />
        </div>
        <!-- Sections 2 and 3 - Right Column -->
        <div class="col-md-8 d-flex flex-column">
          <!-- Section 2 -->
          <section
            class="section section-2 flex-grow-1 d-flex align-items-center justify-content-center"
          >
            <img class="image-predict mr-4" src="static/data/{{img_file}}" />
            <div>
                <p><b>Accuracy:</b> {{acc}}%</p>
                <p><b>Label:</b> {{predictions}}</p>
            </div>
            
          </section>
          <!-- Section 3 -->
          <section
            class="section section-3"
          >
          <embed src="static/docs/Actinic-Keratoses-PIL-Dec-2020.pdf#toolbar=0"  class='disinfo' type="application/pdf">
          </section>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
